__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.csv
*.h5
*.hdf5
*.ipynb_checkpoints
*.vscode
.DS_Store
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.env
.env.*
*.venv
venv/   
*.pt
*.pth
*.npy